#photo-sizing{
    padding-left: 42px;
    padding-bottom: 10px;
}

#service-section{
    margin-top: 3em;
    padding-left: 65px;
}

#service-text{
    margin-bottom: -15px;
    padding-top: 22px;
    padding-right: 50px;
}

#qualification-section{
    padding-left: 65px;
}

#card-size{
    width: 18rem;
    height: 18rem;
}

#footer-links{
    text-decoration: none;
    color: white;
}

#working{
    text-decoration: none;
    color: black;
}